.registerinput {
	color: #F0F1F5;
	margin-left: 5px;
	background-color: #878282;
	border: solid 1px black;
}

.ExpdateFont {
	font-size: 1.2em;
	line-height: 1;
	margin-bottom: 1.25em;
}

.accountButton {
	margin-left:5px;
	border: solid 1px white;
	background-color: #878282;
	font-size: 10px;
	font-weight: bolder;
	padding: 7px;
}

.retrievePwdForm {
	width:600px;
	text-align:left;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;"
}

.RevoceryPasswordButton {
	position:relative;
	margin-bottom: 5px;
	margin-top:5px;
	margin-right:10px; 
	padding: 4px; float:right
}