#searchResultContainer {
	margin-bottom:20px;
	height:470px;
	margin-left:5px;
	overflow-y: auto;
}

.searchInput{
	margin-left:5px;
	background-color: #878282;
	border: solid 1px black;
}

.searchMapStyle {
	display: block;
	height: 100%;
	margin-bottom:20px;
	height: 470px;
}

.viewMapButton {
	margin-left:5px;
	border: solid 1px white;
	background-color: #878282;
	font-size: 10px;
	font-weight: bolder;
	padding: 7px;
}

.restaurantDetailPromoBox {
	width: 95%;
	height: 100px;
	margin-bottom: 10px;
	border: 1px white solid;
}

.restaurantDetailsPromotionContent {
	width: 80%;
	height: 80%;
	margin-top: 10px;
	margin-left: 25px;
}

.restaurantDetailList {
	width: 95%;
}

.RestaurantImageView {
	overflow-x: auto;
	overflow-y:hidden;
	margin: 0px auto;
	margin-bottom: 10px;
}

.urbanspoonLink {
	vertical-align: middle;
	text-align:center;
}

label.DetailCaption{
  font-family: "Bonveno", helvetica;
  font-size: 0.9em; line-height: 1.0;
  color: #3E4747;
  font-style:italic;
}

label.Promotion {
font-family: "Bonveno", helvetica;
  font-size: 1.1em; line-height: 1.0;
  color: black;
  font-weight: bold;
  text-transform:uppercase;
}

th.Caption{
	line-height: 1.0;
	font-size: 1.1em;
	color: black;
	text-transform:uppercase;
}

p.promotionDetail {
	margin-top: 5px;
  	font-family: "ColabReg", helvetica;
  	font-size: 12px;
  	text-indent: 20px;
}

li.imgthumbnail {
	width: 100px;
	display:inline;
	margin: 0px auto;
}

ul.imglist{
	list-style:none;
	display:block;
	white-space:nowrap;
	margin: 0px auto;
	padding: 0px;
}

#RestaurantTweetButton {
	display: block;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    width: 120px;
    float: right;
}