<div class="body-container">
	<div id="pageContent" class="container" style="margin-top: 40px">
		<h1>ABOUT US</h1>
		<div class="span-10 margin-left-10px">
			<p><h4 class="boldFont">
				VIPbite is a restaurant discount membership program
				unlike any other food or beverage saving offering
			</h4></p>
		</div>
		<hr class="space"/>
		<div class="span-10 margin-left-10px margin-bottom-20px">
			<p><h6>Start in Calgary ... the rest of the content goes here!!!</h6></p>
		</div>
		<hr/>
		<div class="span-10 margin-left-10px">
			[photo goes here!!!]
		</div>
	</div>
</div>