<div class="body-container">
	<div id="pageContent" class="container" style="margin-top: 40px">
		<%= form_tag(controller: 'account', action: 'userPasswordRecovery', method: "post", style: "position: relative;") do %>
		<div id="forgetpwdform" class="retrievePwdForm">
			<h1>Forgot your password?</h1>
			<hr/>
			<div id="input-container" style="margin-top : 10px; margin-bottom: 10px; position: relative;">
				<div id="userinputcontainer" style="margin-top:10px; margin-bottom:10px; text-align:center;">
					<img src="/Image/Shared/email.png" alt="Email" width="32" height="32" align="middle"></img>
					<%= email_field_tag 'email', nil, :maxlength=> 40, :size => 40 %>
				</div>
				
				<%= submit_tag('RECOVERY', :class=>"RecorverPasswordButton accountButton")%>
			</div>
		</div>
	<%end%>
	</div>
</div>